<!-- <div class="login">
    <h1>Login</h1>
   
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <label>UserName:</label>
      <input type="text" placeholder="Username..." formControlName="designerUsername" />
      <label>Password:</label>
      <input
        type="password"
        placeholder="Password..."
        formControlName="password"
      />
      <button type="submit" [disabled]="loginForm.invalid">Sign Up</button>
    </form>
   
    <p>
      Don't have an account? <a [routerLink]="['/NewDesigner']">Create new account</a>
    </p>
  </div> -->