<app-nav-bar></app-nav-bar>
<div class="background">
<div class="header">
  <img
    width="25"
    height="25"
    src="assets\img\icons8-videogame-64.png"
    alt="coffee-beans---v2"
    [routerLink]="['/']"
  />
  <div class="about">
    <div *ngIf="gameDesignerList" >
     
      
      <a
        [routerLink]="['/' + gameDesignerList[0]?.designBy?.designerID + '/NewGames']"
        class="a"
        id="s2"
      >
        <h4>add new game</h4>
      </a>

    </div>
  </div>
</div>
<section class="background-layers">
  <div class="custom-container">
    <div *ngFor="let a of gameDesignerList" class="container">
      <div class="details">
        <ul>
          <img [src]="a.gameImage" />
          <li><strong>GAME NAME</strong>{{ a.gameName }}</li>
          <li><strong>GAME PRICE:</strong> {{ a.gamePrice }}</li>
          <li><strong>GAME TYPE:</strong> {{ a.gameType }}</li>
          <li>
            <strong>DEVICE THE GAME IS RUNNING ON</strong
            >{{ a.deviceGameRunningOn }}
          </li>
          <li><strong>GAME DOWNLOAD LINK</strong>{{ a.gameLink }}</li>
          <li><strong>DESCRIPTION OF THE GAME</strong>{{ a.description }}</li>

          <button [routerLink]="['/UpdateGames/' + a?.gameID]">edit</button>
          <button (click)="deleteGame(a.gameID)">delete</button>
        </ul>
      </div>
    </div>
  </div>
</section>

