<div class="header">
  <img width="25" height="25" src="assets\img\icons8-videogame-64.png" alt="coffee-beans---v2"  [routerLink]="['/']"/>
  <a [routerLink]="['/aboutUs/']" class="a"  >
  <div class="about">
      <h4>about us</h4>
      </div>
  </a>
</div> 
<div class="background">
    <div class="posted">
        <h1>Login</h1>
    <form class="designerForm" (ngSubmit)="login()" [formGroup]="loginForm">
      <input  class="designerList" type="text" placeholder="Username..." formControlName="username" />
      <input
      class="designerList"
        type="password"
        placeholder="Password..."
        formControlName="password"
      />
      <button type="submit" [disabled]="loginForm.invalid">Sign Up</button>
    </form>
    </div>
</div>
<footer>
    <p>&copy; 2023 GameNet. All rights reserved.</p>
    <p><strong>in:</strong>Abeer Ahmad</p>
  </footer>