<nav>
  <div class="nav-link">
    <a
      routerLink="/designer/id/:designerID"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    ></a>
  </div>
</nav>
<nav>
  <div class="nav-link">
    <a
      routerLink="/games/id/:gameID"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    ></a>
  </div>
</nav>
<nav>
  <div class="nav-link">
    <a
      routerLink="/player/id/:playerID"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    ></a>
  </div>
</nav>
<nav>
  <div class="nav-link">
    <a
      routerLink="/designer/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    ></a>
  </div>
</nav>

<nav>
  <div class="nav-link">
    <a
      routerLink="/games/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    ></a>
  </div>
</nav>

<nav>
  <div class="nav-link">
    <a
      routerLink="/player/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    ></a>
  </div>
</nav>

<nav>
  <div class="nav-link">
    <a
      routerLink="/games/playerUsername/:playerUsername"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    ></a>
  </div>
</nav>
<nav>
  <div class="nav-link">
    <a
      routerLink="/:designerID/NewGames"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    ></a>
  </div>
</nav>

<nav>
  <div class="nav-link">
    <a
      routerLink="/games/playerID/:playerID"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    ></a>
  </div>
</nav>

  <nav>
    <div class="nav-link">
      <a
        routerLink="/:playerID/gamePlayer/:gameID"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      ></a>
    </div>
  </nav>

<!-- <div class="navbar">
  <div>
    <a [routerLink]="['/company']">company</a>
    <a [routerLink]="['/log-in-company']">log in</a>
    <a (click)="logout()">Logout</a>
  </div>
</div> -->

<nav>
  <div class="nav-link">
    <a
      routerLink="/NewPlayer"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    ></a>
  </div>
</nav>
<nav>
  <div class="nav-link">
    <a
      routerLink="/UpdateGames/:gameID"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    ></a>
  </div>
</nav>


