<div class="background">
<header>
  <img width="25" height="25" src="assets\img\icons8-videogame-64.png" alt="header"  [routerLink]="['/']"/>
  <h1>Welcome to Galaxy of games</h1>
</header>

<section class="about-us">
  <h2>About Us</h2>
  <p>
    We are Galaxy of games, the ultimate electronic games system that caters to the
    needs of designers, players, and companies alike. Our platform provides a
    comprehensive solution for game designers to publish their creations,
    companies to manage games developed under their supervision, and players to
    access a vast library of games.
  </p>
  <p>
    Whether you're a designer looking to showcase your games or a player
    searching for new and exciting titles, GameNet is the perfect destination
    for all your gaming needs. We offer a user-friendly interface, personalized
    recommendations, and a thriving community to enhance your gaming experience.
  </p>
  <h3>For Designers:</h3>
  <p>
    GameNet offers a user-friendly interface for designers to showcase and
    publish their games. Whether you're an indie developer or part of a larger
    studio, you can easily upload your games to GameNet, providing detailed
    descriptions, screenshots, trailers, and other multimedia assets. Designers
    have complete control over the presentation and marketing of their games,
    allowing them to engage with the player community directly.
  </p>

  <h3>For Companies:</h3>
  <p>
    GameNet serves as a centralized hub for companies to manage their game
    portfolios. Companies can create profiles, set up their branding, and
    organize their games for easy access and distribution. They can collaborate
    with designers, oversee the development process, and provide support for
    their titles. GameNet also offers analytics and reporting tools, allowing
    companies to track the performance and engagement of their games.
  </p>
  <h3>For Players:</h3>
  <p>
    GameNet provides a vast and diverse collection of games for players to
    explore and enjoy. With a simple search and filtering system, players can
    easily discover new games across various genres, platforms, and themes. From
    indie gems to AAA titles, GameNet offers something for every gaming
    enthusiast. Players can rate and review games, interact with designers, and
    join vibrant communities to discuss their favorite titles.
  </p>
</section>

<footer>
  <p>&copy; 2023 GameNet. All rights reserved.</p>
  <p><strong>in:</strong>Abeer Ahmad</p>
</footer>

</div>