<div class="header">
  <img width="25" height="25" src="assets\img\icons8-videogame-64.png" alt="coffee-beans---v2" [routerLink]="['/']"/>
  <a [routerLink]="['/aboutUs/']" class="a"  >
  <div class="about">
      <h4>about us</h4>
      </div>
  </a>
</div> 
    <div class="home">
        <div class="banner">'
          <img class="home-IMG" src="assets\img\bubble-gum-programming.png">
          <h1 class="home-text">
            company
          </h1>
        <div class="thick-arrow-down" (click)="scrollToTarget()"></div>
        </div>
        
        <div class="card-container" id="cards">
        
            <div class="card" style="width: 18rem;" routerLink="/designer/">
              <div class="card-body">
                <div>
                  <img class="card-img-top" src="assets\img\bonbon-making-a-video-call-on-laptop.png" alt="designer">
                  <h5 class="card-title">Designers</h5>
                  <!-- <p class="card-text">Dive into our coffee world! From classics to new finds, we've got brews for everyone. Taste the goodness, explore flavors, and enjoy your coffee journey with us.</p> -->
         
                </div>
              </div>
            </div>
            
            <div class="card" style="width: 18rem;" routerLink="/games/">
              <div class="card-body">
                <div>
                  <img class="card-img-top" src="assets\img\icons8-game-console-100.png" alt="games">
                  <h5 class="card-title">Games</h5>
                  <!-- <p class="card-text">Explore the surprise of our Random Coffee selection, where each cup is a delightful journey into diverse flavors and aromas. Let the element of surprise awaken your taste buds.</p> -->
          
                </div>
              </div>
            </div>
            
            <div class="card" style="width: 18rem;" routerLink="/player/">
              <div class="card-body" >
                <div>
                  <img class="card-img-top" src="assets\img\bonbon-teenage-hobbies-for-computer-games.png" alt="player">
                  <h5 class="card-title">Player</h5>
                  <!-- <p class="card-text">Craft your coffee legacy! Add your unique blends and share your coffee creations with the community. Elevate the coffee experience by contributing your distinct concoctions to our growing collection.</p> -->
        
                </div>
              </div>
            </div>
            
          </div>
        
        
        </div>
        
        <footer>
          <p>&copy; 2023 GameNet. All rights reserved.</p>
          <p><strong>in:</strong>Abeer Ahmad</p>
        </footer>
        